<section>
  <%= image_tag asset_path("word-art.png"), class: 'hero-image' %>

  <div class="hero-text">
    <h2>Community Commect</h2>
    <h5>Simple ways to build your community</h5>
    <p><cite>Kindness is the best nourishment for humanity</cite></p>
    <div class="buttons">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-dark" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark" %>
    </div>
  </div>
<section>










  
 