<section class="hero-image">
  <div class="text-container">
    <h1>Marketplace<br>Application</h1>
    <h2>Simple ways to help build your community</h2>
    <div class="buttons">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-dark" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark" %>
    </div>
  </div>
</section>

<section class="why">
  <h2>Volunteering</h2>
  <p><cite>Kindness is the best nourishment for humanity</cite></p>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</section>

<section class="food">
  <div class="row">
    <div class="col-md-8 text-quote"><p>"I didn't think I could do much until I packed a box of staples for a family in need"</p></div>
    <div class="col-md-4"><%= image_tag asset_path("food1.jpg"), class: "image" %></div>
  </div>
</section>
