<h1 class="text-center m-5">New Charity or Community Group</h1>
<%= link_to '< Back', charities_path, class: "btn btn-outline-secondary btn-sm m-2" %>
<%= render 'form', charity: @charity %>
<%= link_to '< Back', charities_path, class: "btn btn-outline-secondary btn-sm m-2" %>
