<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Community-Connect</span>

  <div class="collapse navbar-collapse d-md-none d-lg-none" id="navbarTogglerDemo03">
    <%= render 'navlinks', class: "d-md-none d-lg-none" %>
  </div>
</nav>