<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thanks for expressing your interest to volunteer for <%= @interest.task.charity.name %>!</h4>
    <p>The <%= @interest.task.charity.name %> has been notified of your interest in <%= @interest.task.title %> and will be in touch.</p>
  </body>
</html>