<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thanks for expressing interest in volunteering!.</h4>
    <p>The charity has been notified of your interest and will be in touch!</p>
  </body>
</html>