<!DOCTYPE html>
<html>
  <%= render 'head' %> 
  <body>
    <div class="row p-0 m-0 min-vh-100">
      <div class="col d-flex justify-content-center align-items-center">
        <%= yield %>
      </div>
      <div class="col d-none d-lg-block p-0">
        <%= image_tag 'food1.jpg', class: 'login-img' %>
      </div>
    </div>
  </body>
</html>