<!DOCTYPE html>
<html>
  <%= render 'head' %> 
  <body>
    <div class="row p-0 m-0 min-vh-100">
      <div class="col d-none d-lg-block ">
        <%= image_tag 'hands.jpg', class: 'img-fluid h-100 w-100' %>
      </div>
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
