<h1 class="text-center m-5">My Requests</h1>

<% if @new_tasks.present? %>
  <h2 class="text-center">Upcoming</h1>
  <%= render 'request_table', tasks_to_list: @new_tasks %>
<% elsif %>
  <p>You haven't listed any requests for assistance. Let's asdd some!</p>
  <%= link_to 'Create a new request', new_task_path, class: "btn btn-secondary btn-sm m-2" %>
<% end %>


<% if @old_tasks.present? %>
  <h2 class="text-center">Previous</h1>
  <%= render 'request_table', tasks_to_list: @old_tasks %>
<% end %>